.seven-segment-display {
    display: inline-block;
    width: 100px;
    height: 160px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.segment {
    width: 15px;
    height: 50px;
    background-color: #1abc9c;
    position: absolute;
}

.segment::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.segment-0 {
    transform: rotate(90deg);
    top: -8px;
    left: 42px;
}

.segment-0::before {
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #1abc9c transparent;
    top: 0;
    left: 0;
}

.segment-1 {
    top: 24.5px;
    left: 7px;
}

.segment-1::before {
    border-width: 15px 0 15px 15px;
    border-color: #1abc9c transparent #1abc9c transparent;
    top: 0;
    left: 0;
}

.segment-2 {
    top: 84.5px;
    left: 7px;
}

.segment-2::before {
    border-width: 15px 0 15px 15px;
    border-color: #1abc9c transparent #1abc9c transparent;
    top: 0;
    left: 0;
}

.segment-3 {
    transform: rotate(90deg);
    top: 55px;
    left: 42px;
}

.segment-3::before {
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #1abc9c transparent;
    top: 0;
    left: 0;
}

.segment-4 {
    top: 84.5px;
    left: 77px;
}

.segment-4::before {
    border-width: 15px 0 15px 15px;
    border-color: #1abc9c transparent #1abc9c transparent;
    top: 0;
    left: 0;
}

.segment-5 {
    top: 24.5px;
    left: 77px;
}

.segment-5::before {
    border-width: 15px 0 15px 15px;
    border-color: #1abc9c transparent #1abc9c transparent;
    top: 0;
    left: 0;
}

.segment-6 {
    transform: rotate(90deg);
    top: 118px;
    left: 42px;
}

.segment-6::before {
    border-width: 15px 0 15px 15px;
    border-color: #1abc9c transparent #1abc9c transparent;
    top: 0;
    left: 0;
}


/* 可能的其他字符样式定义 */

.segment-dot {
/ / 小数点的样式定义
}

.segment-minus {
/ / 减号的样式定义
}
