.react-flow .react-flow__handle-left {
    background: #0000B2;
}

.react-flow .react-flow__handle-bottom {
    background: #0000B2;
}

.react-flow .react-flow__handle-right {
    background: #B20000;
}