.count {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

.Rom {
    border: 4px solid #0000FF;
    width: 75px;
    height: 100px;
    position: absolute;
    top: 290px;
    left: 675px;
}

.Rom > p1 {
    position: absolute;
    top: 23px;
    left: 3px;
}

.Rom > p2 {
    position: absolute;
    top: 42px;
    left: 60px;
}

.DigitalTube1 {
    position: absolute;
    top: 191px;
    left: 864px;
    transform: scale(0.7);
}

.DigitalTube2 {
    position: absolute;
    top: 191px;
    left: 960px;
    transform: scale(0.7);
}

.conductor1 {
    border-top: solid 3px blue;
    width: 185px;
    top: 310px;
    left: 490px;
    position: absolute;
}

.conductor2 {
    border-top: solid 3px blue;
    width: 200px;
    top: 344px;
    left: 754px;
    position: absolute;
}