.tunnelIn {
    width: 20px;
    height: 20px;
    background-color: black;
    clip-path: polygon(86.6% 0, 0 50%, 86.6% 100%);
    position: relative;
}

.tunnelIn::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    left: 2.5px;
    /*right: -5px;*/
    /*bottom: -5px;*/
    background-color: white;
    clip-path: polygon(86.6% 0, 0 50%, 86.6% 100%);
}

.tunnelOut {
    width: 20px;
    height: 20px;
    background-color: black;
    clip-path: polygon(100% 50%, 13.4% 0, 13.4% 100%);
    position: relative;
}

.tunnelOut::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    left: 2px;
    /*right: -5px;*/
    /*bottom: -5px;*/
    background-color: white;
    clip-path: polygon(100% 50%, 13.4% 0, 13.4% 100%);
}